@charset "UTF-8";

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}


body{
	background: #faf9f9;
	color: 0,0,0,0.1;
}

.container{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

p{
	text-align: justify;
	text-indent: 50px;
}

a{
	color: #606060;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/*========== HEADER ==========*/

header.header{
	width: 100%;
	height: 80px;
	border-bottom: 30px solid #d6d6d6;
	font-family: 'HelveticaNeueLTStd57Condensed';
	font-size: 12pt;
}

header div.container h1.logo{
	position: absolute;
	left: 310px;
}

header div.container nav.nav-main ul li{
	padding: 47px 20px;
	vertical-align: top;
	display: inline-block;
	margin: 0 5px;
}

header div.container nav.nav-main ul li:hover{
	background: #f1f1f1;
	-webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
     transition:background 1s ease;
}

header div.container nav.nav-main ul li.canal{
	margin-left: 300px;
	padding-top: 40px;
	padding-bottom: 38px;
}

/*========== BANNER ==========*/

section.banner{
	position: relative;
}
section.banner ul#fade{
	width: 100%;
}

section.banner ul#fade li figure{
	position: relative;
}

section.banner ul#fade li figcaption{
	position: absolute;
	top: 0;
	right: 0;
	width: 600px;
	border-top: 60px solid #574b40;
	border-left: 50px solid transparent;
}

section.banner ul#fade li figcaption span{
	font-size: 30pt;
	font-family: 'HelveticaNeueLTStd57Condensed';
	color: #b8b4af;
	display: block;
	position: absolute;
	top: -50px;


}

section.banner ul#fade li img{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}


section.banner ul#fade li a{
	position: absolute;
	padding: 3px 0 0 9px;
	color: #b8b4af;
	top: 19px;
	border-left: 1px solid rgba(184,180,175,0.3) ;
	right: 250px;

}

section.banner div.bg-transparent{
	width: 100%;
	height: 40px;
	background: rgba(118,103,84,0.5);
	position: absolute;
	bottom: 3px;
	z-index: 3;
}

div.quadros{
	background-color: #f2efec;
	color: #b8b4af;
	width: 200px;
	margin:40px 0px 15px 15px;
}


/*========== TOUR VIRTUAL ==========*/

section.tour-virtual{
	height: 170px;
	margin:0 auto;
}

section.tour-virtual h1{
	padding: 25px 0 0 8px;
	font-size: 29pt;
	font-family: 'Arial';
	background: url(../img/banners/tour-virtual.png)no-repeat 120px 30px ;
}


section.tour-virtual small a{
	font-family: 'Helvetica';
	font-size: 10pt;
	font-weight: 100;
	display: block;
	padding: 10px;
	line-height: 20px;
	position: relative;

}


section.tour-virtual small a span{
	border-radius: 50%;
	color: #ffffff;
	background-color: #736357;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	text-align: center;
	font-size: 7pt;
	top:29px;
	left: 75px;
}

/*========== CANAL FAVORITA ==========*/

section.canal-favorita{
	height: 170px;
}

section.canal-favorita h1{
	padding: 25px 0 0 8px;
	font-size: 24pt;
	font-family: 'Arial';
	background: url(../img/banners/canal-favorita.png)no-repeat 120px 0px ;
}

section.canal-favorita small a{
	font-family: 'Helvetica';
	font-size: 10pt;
	font-weight: 100;
	display: block;
	padding: 10px;
	line-height: 20px;
	position: relative;

}

section.canal-favorita small a span{
	border-radius: 50%;
	color: #ffffff;
	background-color: #736357;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	text-align: center;
	font-size: 7pt;
	top:29px;
	left: 108px;
}

/*========== NOSSO GRUPO ==========*/

section.nosso-grupo{
	height: 170px;
	margin: 0 auto;
	position: relative;

}

section.nosso-grupo h1{
	padding: 25px 0 15px 8px;
	font-size: 18pt;
	text-align: center;
	font-family: 'Arial';
}


section.nosso-grupo ul.list-group li{
	padding: 0 15px;
}

section.nosso-grupo span{
	background-color:rgba(174,172,170,0.4);
	color: #ffffff;
	border-radius: 50%;
	padding: 8px;
	position: absolute;
	top: 95px;
	font-size: 8pt;
}

section.nosso-grupo span:hover{
	cursor:pointer;
}

section.nosso-grupo span#prev{
	left: -12px;
}

section.nosso-grupo span#next{
	right: -12px;
}


/*========== FAVORITA UNITOKEN ==========*/

section.favorita-unitoken{
	height: 170px;
	margin: 0 auto;
}

section.favorita-unitoken h1{
	margin: 0 auto;
}

section.favorita-unitoken small a{
	font-family: 'Helvetica';
	font-size: 10pt;
	font-weight: 100;
	display: block;
	line-height: 20px;
	padding: 0 20px;
	position: relative;
}

section.favorita-unitoken small a span{
	border-radius: 50%;
	color: #ffffff;
	background-color: #736357;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	text-align: center;
	font-size: 7pt;
	top:20px;
	left: 135px;
}

/*========== FACEBOOK FAVORITA ==========*/

section.facebook-like{
	height: 340px;
}

section.facebook-like h1{
	font-size: 20pt;
	font-family: 'Helvetica';
	font-weight: 100;
	display: block;
	line-height: 35px;
	width: 170px;
	padding: 10px;
	padding-bottom: 20px;
	margin: 0 auto;
}

section.facebook-like h1 span{
	font-size: 30pt;
	font-weight: bold;
}

section.facebook-like h1 span.facebook{
	font-size: 20pt;
	font-weight: 190;
}

section.facebook-like .limitarbox {
    width: 150px !important;
    height: 130px !important;
    overflow: hidden !important;
	position: relative;
	margin: 0 auto;
}

section.facebook-like .fb-like-box {
	margin-top: -75px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -9px;
}

section.facebook-like .fb-like {
	margin-top: 10px;
	text-align: center;
	width: 150px;
	margin-left: 25px;
}



/*========== CATALAGO VIRTUAL ==========*/

section.catalogo-virtual{
	height: 340px;
	position: relative;
}

section.catalogo-virtual h1{
	font-size: 20pt;
	font-family: 'Helvetica';
	font-weight: 100;
	display: block;
	line-height: 35px;
	width: 170px;
	padding: 10px;
	padding-bottom: 20px;
	margin: 0 auto;
}

section.catalogo-virtual h1 span{
	font-size: 30pt;
	font-weight: bold;
}

section.catalogo-virtual small{
	height: 70px;
	width: 200px;
	display: block;
	background-color: #736357;
	position: absolute;
	bottom: 0;
}

section.catalogo-virtual small a{
	color: #ffffff;
	font-size: 11pt;
	font-weight: 100;
	display: block;
	width: 160px;
	margin: 20px auto;

}

/*========== NEWSLETTER ==========*/

section.newsletter{
	height: 170px;
}

div.newsletter-formulario{
	width: 100%;
	height: 75px;
	background-color:rgba(242,239,236,0.4);
}

div.newsletter-formulario form.form-newsetter{
	width: 940px;
	height: 50px;
	vertical-align: top;
	margin: 0 auto;
}


div.newsletter-formulario h1.title{
	width: 120px;
	display: inline-block;
	color: #766754;
	font-family: 'Helvetica';
	font-size: 18pt;
	margin-top: 20px;
	margin-right: 10px;
}


div.newsletter-formulario form.form-newsetter input{
	width: 263px;
	height: 35px;
	margin-right: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e6e2de;
}

div.newsletter-formulario form.form-newsetter button{
	width: 140px;
	height: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #766754;
	border: none;
	color: #ffffff;
}

footer.footer{
	background-color: #b9ac9e;
}

footer.footer nav.site-map {
	height: 350px;
	width: 960px;
	padding-left: 20px;
	margin: 0 auto;
	position: relative;
}


footer.footer nav.site-map ul.list-main li.uls{
	display: inline-block;
	float: left;
	margin: 20px 28px 0 28px;
}

footer.footer nav.site-map ul.list-main li.uls.redessociais{
	float: none;
	width: 100px;
	height: 100px;
	display: block;
	top: 110px;
	left: 475px;
	position: absolute;
}
footer.footer nav.site-map ul.list-main li.uls h1{
	text-transform: uppercase;
	color: #766754;
	font-size: 9pt;
	margin-top: 20px;
	margin-bottom: 30px;
}

footer.footer nav.site-map ul.list-main li.uls ul li a{
	font-size: 8pt;
	line-height: 30px;
	color: #ede1d3;
}

div.info-footer{
	width: 100%;
	height: 50px;
	color: #766754;
	font-family: 'Helvetica';
	background-color: #faf9f9;
}

div.info-footer small.copyright{
	display: inline-block;
	width: 400px;
	margin-left: -350px;
	padding: 20px 0;
	float: left;
	border: 1px solid black;
}

div.info-footer address.phone{
	color: #6e5536;
	font-size: 12pt;
	padding: 20px 0;
	display: inline-block;
	margin-left: 150px;
	text-align: right;
	border: 1px solid black;
	width: 300px;
}
div.info-footer address.phone span{
	font-size: 8pt;
}

div.info-footer address.phone ::before{
	content: "\2706";
	margin-right: 0.5em;
}







